.product-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    padding: 0 2.4rem;

}
.product-container{
    max-width: 1115px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 5rem 0;
}

.text-container{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    flex-wrap: wrap;
}
.caption{
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}
.product-title{
    font-size: clamp(3rem,8vw,7rem);
    margin-top: 1.5rem;
}
.product-parag{
    max-width: 450px;
    margin-top: 1.5rem;
}
.price-container{
    margin-top: 2rem;
}
.price{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--dark-blue);
}
.discount{
    display: flex;
    align-items: center;
    background-color: var(--dark-pink);
    padding: .3rem .8rem;
    border-radius: .54rem;
    color: var(--dark-blue);
    font-size: 1.6rem;
}
.old-price{
    text-decoration: line-through;
    font-weight: 500;
    color: rgb(145, 144, 144);
}
.product-btn-wrapper,.qty-btn-wrapper{
    
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;  
}
.product-btn-wrapper{
    gap: 4rem;
    margin-top: 3rem;
}
.qty-btn{
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
    padding: .5rem;
}
.qty-icon,.qty-num{
    color: var(--dark-blue);
}
.qty-num{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-blue);
    border-radius: 4rem;
    font-size: 1.5rem;
    height: 4rem;
    width: 8rem;

}
.add-to-cart-btn{
    padding: 1rem 4rem;
    background-color: var(--very-light-pink);
    border-radius: 4rem;
    gap: 1rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
    height: 4rem;
    width: 200px;

}
/* .......Active States..........  */
.qty-btn:hover{
    border-color: var(--very-light-pink);
    background-color: var(--dark-pink);
    transition: .3s ease-in;

}
.add-to-cart-btn:hover{
    background-color: inherit;
    border: 1px solid var(--dark-pink);
    color: var(--dark-blue);
    transition: .3s ease-in;

}
